.button 
{
	padding: 5px 10px;
	background: black;
	border-radius: 3px;
	cursor: pointer;

	color: white;
	text-shadow: 0 -1px 1px black;
	font-size: 12px;
	line-height: 18px;
}

.button_type_ok
{
	background: #14a133;
	background-image: -moz-linear-gradient(bottom,#14a133 0%,#28bf65 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#14a133),color-stop(100%,#28bf65));
	background-image: -webkit-linear-gradient(bottom,#14a133 0%,#28bf65 100%);
	background-image: -o-linear-gradient(bottom,#14a133 0%,#28bf65 100%);
	background-image: -ms-linear-gradient(bottom,#14a133 0%,#28bf65 100%);
	background-image: linear-gradient(bottom top,#14a133 0%,#28bf65 100%);
}

.button_type_ok.button_hovered_yes
{
	background-image: -moz-linear-gradient(bottom,#14a133 0%,#41c473 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#14a133),color-stop(100%,#41c473));
	background-image: -webkit-linear-gradient(bottom,#14a133 0%,#41c473 100%);
	background-image: -o-linear-gradient(bottom,#14a133 0%,#41c473 100%);
	background-image: -ms-linear-gradient(bottom,#14a133 0%,#41c473 100%);
	background-image: linear-gradient(bottom top,#14a133 0%,#41c473 100%);
}

.button_type_ok.button_pressed_yes
{
	background-image: -moz-linear-gradient(bottom,#41c473 0%,#14a133 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#41c473),color-stop(100%,#14a133	));
	background-image: -webkit-linear-gradient(bottom,#41c473 0%,#14a133	100%);
	background-image: -o-linear-gradient(bottom,#41c473 0%,#14a133 100%);
	background-image: -ms-linear-gradient(bottom,#41c473 0%,#14a133 100%);
	background-image: linear-gradient(bottom top,#41c473 0%,#14a133 100%);
}

.button_type_cancel
{
	background: #616161;
	background-image: -moz-linear-gradient(bottom,#616161 0%,#878787 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#616161),color-stop(100%,#878787	));
	background-image: -webkit-linear-gradient(bottom,#616161 0%,#878787	100%);
	background-image: -o-linear-gradient(bottom,#616161 0%,#878787 100%);
	background-image: -ms-linear-gradient(bottom,#616161 0%,#878787 100%);
	background-image: linear-gradient(bottom top,#616161 0%,#878787 100%);
}	

.button_type_cancel.button_hovered_yes
{
	background-image: -moz-linear-gradient(bottom,#616161 0%,#9c9c9c 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0%,#616161),color-stop(100%,#9c9c9c	));
	background-image: -webkit-linear-gradient(bottom,#616161 0%,#9c9c9c	100%);
	background-image: -o-linear-gradient(bottom,#616161 0%,#9c9c9c 100%);
	background-image: -ms-linear-gradient(bottom,#616161 0%,#9c9c9c 100%);
	background-image: linear-gradient(bottom top,#616161 0%,#9c9c9c 100%);
}

.button_type_cancel.button_pressed_yes
{
	background-image: -moz-linear-gradient(bottom, #9c9c9c 0%,#616161 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0%, #9c9c9c),color-stop(100%,#616161	));
	background-image: -webkit-linear-gradient(bottom, #9c9c9c 0%,#616161	100%);
	background-image: -o-linear-gradient(bottom, #9c9c9c 0%,#616161 100%);
	background-image: -ms-linear-gradient(bottom, #9c9c9c 0%,#616161 100%);
	background-image: linear-gradient(bottom top, #9c9c9c 0%,#616161 100%);
}

.form__fieldset_buttons_yes .button
{
	margin-left: 8px;
}