.b-text__blockquote
{
	margin-left: 0;
	margin-right: 0;
	padding: 5px 5px 5px 25px;
	background: #f9f1bb;
	border-top: 1px solid #feec74;
	border-bottom: 1px solid #feec74;
}

.b-text__p 
{
	line-height: 1.3;
}
