.slide__content 
{
	overflow: hidden;
	opacity: 1;
}

.slide_js_inited .slide__content
{
	transition: all 0.3s ease-in;
}

.slide_closed_yes .form__content
{
	max-height: 0;
	opacity: 0;
}

.slide__switcher:after
{
	content: '–';
}

.slide_closed_yes .slide__switcher:after
{
	content: '+';
}
