.button
	box-reset()
	display inline-block
	vertical-align top
	padding 5px 10px
	background black
	border-radius 3px
	cursor pointer

	color white
	text-shadow 0 -1px 1px black
	font-size 12px
	line-height 18px

	&_ok
		background #14a133
		gradient #14a133, #28bf65

		&:hover
			gradient #14a133, #41c473

		&:active
			gradient #41c473, #14a133				

	&_cancel
		background #616161
		gradient #616161, #878787

		&:hover
			gradient #616161, #9c9c9c

		&:active
			gradient #9c9c9c, #616161	

	.form__fieldset_buttons &
		margin-left 6px	