.form
{
	margin: 0;
	padding: 0;
	width: 50%;
}

.form__fieldset 
{
	margin: 25px 0;
	padding: 0;
	border: 0;
}

.form__fieldset_buttons_yes
{
	text-align: right;
	margin-bottom: 40px;
}

.form__line 
{
	position: relative;
	margin: 25px 0;
}

.form__lineNum 
{
	float: left;
	width: 20px;
	padding-right: 10px;
	margin-left: -30px;
	line-height: 1.3;
	text-align: right;
}

.form__lineNum:before 
{
	content: "#";
	color: #c5c5c5;
	font-size: 14px;
	margin-right: 2px;
	opacity: 0.5;
	transition: opacity 0.2s ease;
}

.form__line:hover .form__lineNum:before 
{
	opacity: 1;
}

.form__checkbox {
	margin: 4px 0;
}

.form__input 
{
	border: 0;
	margin: 10px 0;
	width: 100%;
	resize: none;
	box-sizing: border-box;
	box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.3);
	padding: 5px 10px;
	font-size: 14px;
	line-height: 18px;
}

.form__label
{
	margin-right: 25px;
}

.form__input:focus 
{
	outline: 1px solid #f9f1bb;
}

.form__content
{
	max-height: 700px;
}

.form__switcher
{
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 30px;
	margin-top: -5px;
	margin-right: -10px;
	border-radius: 30px;

	cursor: pointer;
	text-align: center;
	line-height: 32px;

	opacity: 0.5;
	transition: all 0.2s ease;
}
		
.form__line:hover .form__switcher 
{
	opacity: 1;
	box-shadow: inset 0 0 12px #f9f1bb;
}	